vpc_cidr_block              = "10.0.0.0/16"
private_subnets_cidr_blocks = ["10.0.1.0/24", "10.0.2.0/24", "10.0.3.0/24"]
public_subnets_cidr_blocks  = ["10.0.4.0/24", "10.0.5.0/24", "10.0.6.0/24"]
env_prefix                  = "dev"
avail_zone                  = "us-east-2a"
image_name                  = "amzn2-ami-hvm-*-x86_64-gp2"
instance_type               = "t2.micro"
my_ip                       = "0.0.0.0/32"
public_key_location         = "~/.ssh/id_rsa.pub"
#private_key_location = "~/.ssh/id_rsa"
subnet_cidr_block = "10.0.1.0/24"

